:root {
  --primary: rgba(0, 20, 70, 1);
  --second: rgba(2, 67, 123, 1);
  --third: rgba(2, 139, 191, 1);
  --fourth: rgba(152, 203, 220, 1);
  --fifth: rgba(216, 233, 240, 1);
  --white: rgba(246, 246, 246, 1);
  --cs: rgba(0, 0, 0, 1);
  --heading-1-font-family: "Inter", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 48px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 58px;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Inter", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 32px;
  --heading-2-letter-spacing: -1.28px;
  --heading-2-line-height: 39px;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Inter", Helvetica;
  --heading-3-font-weight: 700;
  --heading-3-font-size: 24px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 29px;
  --heading-3-font-style: normal;
  --heading-4-font-family: "Inter", Helvetica;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 20px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 25px;
  --heading-4-font-style: normal;
  --title-big-font-family: "Inter", Helvetica;
  --title-big-font-weight: 500;
  --title-big-font-size: 20px;
  --title-big-letter-spacing: 0px;
  --title-big-line-height: 25px;
  --title-big-font-style: normal;
  --title-font-family: "Inter", Helvetica;
  --title-font-weight: 600;
  --title-font-size: 16px;
  --title-letter-spacing: 0px;
  --title-line-height: 20px;
  --title-font-style: normal;
  --title-2-font-family: "Inter", Helvetica;
  --title-2-font-weight: 500;
  --title-2-font-size: 14px;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 17px;
  --title-2-font-style: normal;
  --title-3-font-family: "Inter", Helvetica;
  --title-3-font-weight: 500;
  --title-3-font-size: 12px;
  --title-3-letter-spacing: 0px;
  --title-3-line-height: normal;
  --title-3-font-style: normal;
  --t-TLE-b-g-a-font-family: "Inter", Helvetica;
  --t-TLE-b-g-a-font-weight: 500;
  --t-TLE-b-g-a-font-size: 12px;
  --t-TLE-b-g-a-letter-spacing: 0px;
  --t-TLE-b-g-a-line-height: 17px;
  --t-TLE-b-g-a-font-style: normal;
  --body-1-font-family: "Inter", Helvetica;
  --body-1-font-weight: 500;
  --body-1-font-size: 20px;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 25px;
  --body-1-font-style: normal;
  --body-2-font-family: "Inter", Helvetica;
  --body-2-font-weight: 500;
  --body-2-font-size: 16px;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: 20px;
  --body-2-font-style: normal;
  --body-3-font-family: "Inter", Helvetica;
  --body-3-font-weight: 500;
  --body-3-font-size: 14px;
  --body-3-letter-spacing: 0px;
  --body-3-line-height: 17px;
  --body-3-font-style: normal;
  --body-4-font-family: "Inter", Helvetica;
  --body-4-font-weight: 400;
  --body-4-font-size: 12px;
  --body-4-letter-spacing: 0px;
  --body-4-line-height: normal;
  --body-4-font-style: normal;
  --button-font-family: "Inter", Helvetica;
  --button-font-weight: 600;
  --button-font-size: 14px;
  --button-letter-spacing: 0px;
  --button-line-height: 16px;
  --button-font-style: normal;
  --subtitle-2-font-family: "Inter", Helvetica;
  --subtitle-2-font-weight: 600;
  --subtitle-2-font-size: 16px;
  --subtitle-2-letter-spacing: 0px;
  --subtitle-2-line-height: 20px;
  --subtitle-2-font-style: normal;
  --shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
